body{
    background: linear-gradient(135deg, #F2F2F2 0%, #A5C5C4 100%);
}

section{
    height: 60vh;
    width: 50vw;
    display: flex;

    position: absolute;
    transform: translate(-50%, -50%);
        top: 50%; left: 50%;

    background-color: #376070;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
}

.sidebar{
    height: 47%;
    width: 25%;
    background-color: rgb(240, 240, 240);
    position: relative;
    padding: 25px;
    border-radius: 15px 0 0 0;
    
    .fas, .fab{
        height: 5px;
        width: 5px;
        margin-right: 5px;
    }
    #profile-pic{
        height: 110px;
        width: 110px;
        border-radius: 50%;
        display: flex;
        margin-left: auto;
        margin-right: auto;

        position: relative;
        top: 10px;
    }

    li{
        font-size: 12px;
        color: white;
    }

    .iconlist{
        width: 15px;
        margin-right: 5px;
    }

    .itemlist{
        margin-right: 15px;
    }
    
    .fullname{
        text-align: center;
        margin-bottom: 10px;
        
        .firstname{
            color: #243b44;
            font-family: 'Oswald';
            font-size: 40px;
            font-weight: 200;
            
            position: relative;
            top: 10px;
        }

        .lastname{
            color: #243b44;
            font-family: 'Oswald';
            font-size: 15px;
            font-weight: 600;
        }

        .occupation{
            font-size: 8px;
            font-family: 'MontSerrat', sans-serif;
            color: #243b44;
        }
    }

    .personal-info{
        display: flex;
        font-family: 'Roboto', sans-serif;

        li{
            padding: 0 0 1px 0;
        }
        ._{
            color: #376070;
        }
    }

    .social-media-container{
        display: flex;
        font-family: 'Roboto', sans-serif;
        
        li {
            padding: 0 0 1px 0;
        }
        .social-media{
            display: flex;
        }
    }


    .title{
        color: white;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        height: 30px;
        width: 80%;
        text-align: center;
        background-color: #243b44;

        padding: 5px;
        margin: 12px auto;
        box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.15);
    }

    .languages-container{
        display: flex;

        .languages{
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            margin-right: 10px;
        }
    }
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    
    background-color: white;
    border-radius: 0 15px 15px 0;
    background-color: rgb(240, 240, 240);
    padding: 50px;
    
    .content-left{
        max-width: 50%;
        
        hr{
            width: 50%;
            margin: 0 auto 10px auto;
        }
        .fas{
            margin-right: 10px;
        }
    
        .index{
            display: flex;
            margin-bottom: 10px;
            border-bottom: 1px solid #243b44;
    
            color: #243b44;
            font-weight: 600;
            font-family: 'Oswald', sans-serif;
        }
        
        .about-me{
            margin-bottom: 10px;
    
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                text-align: justify;
            }
            
        }
    
        .education{
            margin-bottom: 10px;
    
            img{
                height: 15px;
                margin-right: 10px;
            }
    
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                text-align: justify;
                margin-bottom: 10px;
            }
            .school{
                display: flex;
                font-family: 'Bebas Neue', sans-serif;
                color: #243b44;
                font-weight: 600;
            }
    
            .course{
                font-family: 'MontSerrat', sans-serif;
                font-size: 10px;
            }
        }
    }

    .content-right{
        max-width: 50%;
        padding: 30px;
        background-color: white;
        
        border-radius: 15px;
        transition: 0.5s;

        img{
            height: 15px;
            margin-right: 10px;
        }

        p{
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            text-align: justify;
            margin-bottom: 125px;
        }

        a{
            text-decoration: none;
            color: inherit
        }

        .fas{
            margin-right: 10px;
        }
        .index{
            display: flex;
            margin-bottom: 10px;
            border-bottom: 1px solid #243b44;
    
            color: #243b44;
            font-weight: 600;
            font-family: 'Oswald', sans-serif;
        }

        .work{
            display: flex;
            font-family: 'Bebas Neue', sans-serif;
            color: #243b44;
            font-weight: 600;
        }

        .occupation{
            font-family: 'MontSerrat', sans-serif;
            font-size: 10px;
        }

        .title{
            color: white;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            height: 30px;
            width: 100%;
            text-align: center;
            background-color: #243b44;
    
            padding: 5px;
            margin: 12px auto;
            box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.15);
        }

        .linklist{
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            line-height: 20px;

            hr{
                margin: 10px 0;
            }
        }
    }

    .divider{
        min-width: 50px
    }
    
    .content-right:hover{
            box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
        }

}
